body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

background: #1e3c72; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1e3c72 , #5e87d4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1e3c72 , #5e87d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color: white;
}

li {
  color: white;
}
.header-bottom {
  background-color: transparent;
}
footer {
  background-color: rgba(38, 38, 38, 0.85);
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  padding: 4px 0px;
}
#header .navbar-default {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px rgba(236, 236, 236, 1) !important;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  border: none !important;
  box-shadow: none !important;
}
.navbar-default li a {
  padding: 10px 15px;
  color: #262626;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}
.navbar-default .navbar-brand {
  color: #2A2A72 !important;
  font-size: 24px;
}
.btn-custom {
  background-color: #574AE2;
  color: #ffffff;
  font-size: 18px;
  height: 42px;
  margin-top: 5px;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 20px;
}
.btn-custom:hover, .btn-custom:focus {
  color: #ffffff;
}
#btn-block-donate {
  position: absolute;
  width: 90%;
  left: 10px;
  right: 10px;
}
.hero {
  background-image: url('../images/media/hero.jpg');
  width: 100%;
  min-height: 580px;
  background-size: cover;
  display: block;
  background-position: center;
}
.hero1 {
  background-image: url('../images/media/image26.png');
  width: 100%;
  min-height: 580px;
  background-size: cover;
  display: block;
  background-position: center;
}
.hero2 {
  background-image: url('../images/media/image25.png');
  width: 100%;
  min-height: 580px;
  background-size: cover;
  display: block;
  background-position: center;
}
.carousel-container {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
}
.carousel-inner> .item> img, .carousel-inner> .item> a> img {
  width: 100%;
  margin: auto;
}
.dark-well {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding-bottom: 10px;
}
.hero-content {
  position: absolute;
  top: 40%;
  margin-left: 30px;
  margin-right: 75px;
  color: white;
  text-align: center;
}
.hero-content h1 {
  font-size: 55px;
}
.hero-content p {
  font-size: 30px;
}
.hero-content .btn-custom {
  width: 320px;
}

/*Story Section*/

.story, .mission {
  min-width: 500px;
}
.story h1, .mission h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px 0px;
}
.story .thumb-pic, .mission .thumb-pic {
  width: 50%;
}
.thumbnail-content {
  width: 50%;
  padding: 20px 20px;
  margin-top: 10%;
}
.thumbnail-content p {
  font-size: 30px;
  font-family: 'Droid Serif', Georgia, serif;
}
.iconDetails {
  float: left;
  height: 150px;
  width: 150px;
  margin-left: 2%;
}
.img-board {
  height: 155px;
  width: 155px;
}
.mem-brd {
  border: solid orange 1px;
  overflow: auto;
  margin-top: 2%;
}
.det-brd {
  margin-left: 180px;
}
.main-brd {
  float: left;
  margin: 6%;
}
.paragraph {
  font-size: 14px;
  width: 100%;
}
.mem-details {
  margin-right: 1%;
}
.mem-content {
  margin: 1%;
}
.heading {
  margin-bottom: 4%;
}
.mission .thumbnail-section{
  margin-top: 30px;
}
.mission .mission-statement {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.mission .thumbnail ,.mission .thumbnail-content {
  position: relative;
  left: 10%;
}

.mission .thumbnail-content{
  margin-top:3%;
}
.mission .thumbnail-content ul li{
  font-size: 20px;
  margin-bottom: 20px;
}

/*CSS for footer*/

footer {
  background-color: #333;
  color: white !important;
  min-height: 100px;
}
footer .row {
  margin-top: 30px;
}

/*CSS for social netoworking links*/

.fa-facebook:hover {
  background-color: #3B5998;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.faLinks li {
  display: inline;
  list-style: none;
  padding-right: 5px;
}
.faLinks li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 6px 11px;
  border-radius: 3px;
}
@media only screen and (max-width: 768px) {
  .hero-content h1, .story h1 {
    font-size: 30px;
  }
  .hero-content p, .thumbnail-content p {
    font-size: 16px !important;
  }
  .hero-content .btn-custom {
    width: 220px;
  }
  .navbar-default .navbar-brand {
    font-size: 15px;
  }
}
