body {
  font-family: Calibri, Arial, sans-serif;
  background: #1e3c72;
  color: white;
}
.block-logo {
  color: white;
  background-color: #1e3c72;
  text-align: center;
  margin-top: 7px;
}
.block-logo h1 {
  font-size: 60px;
  margin-top: 10px;
}
.block-logo h4 {
  font-size: 17px;
}
.header-bottom {
  background-color: transparent;
}
footer {
  background-color: rgba(38, 38, 38, 0.85);
  font-family: Calibri;
  font-size: 14px;
  font-weight: 300;
  line-height: 37px;
  padding: 4px 0px;
}
#header .navbar-default {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px rgba(236, 236, 236, 1) !important;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  border: none !important;
  box-shadow: none !important;
}
.navbar-default li a {
  padding: 10px 15px;
  color: #262626 !important;
  font-family: Calibri, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
.navbar-default .navbar-brand {
  color: #2A2A72 !important;
  font-size: 24px;
}
.btn-custom {
  background-color: #574AE2;
  color: #ffffff;
  font-size: 18px;
  height: 42px;
  margin-top: 5px;
  font-family: Calibri, Arial, sans-serif;
  font-weight: 700;
  line-height: 20px;
}
.btn-custom:hover, .btn-custom:focus {
  color: #ffffff;
}
#btn-block-donate {
  position: absolute;
  width: 90%;
  left: 10px;
  right: 10px;
}

#home{
}
.hero1 {
  background-image: url('../images/media/image26.png');
  width: 100%;
  min-height: 580px;
  background-size: cover;
  display: block;
  background-position: center;
}
.hero2 {
  background-image: url('../images/media/image25.png');
  width: 100%;
  min-height: 580px;
  background-size: cover;
  display: block;
  background-position: center;
}
.carousel-container {
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
}
.carousel-inner> .item> img, .carousel-inner> .item> a> img {
  width: 100%;
  margin: auto;
  max-height: 500px;
}
.carousel-caption {
  top: 10%;
  max-height: 300px;
}
.carousel-caption h3 {
  font-size: 38px;
  font-family: Calibri, Arial, sans-serif;
  color:  #6666ff;
}
.carousel-caption p {
  margin-top: 15px;
  font-size: 22px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}
.dark-well {

  padding-bottom: 10px;
}
.story, .team {
  min-width: 500px;
}
.story h2, .mission h1, .team h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px 0px;
}
.story .thumb-pic, .mission .thumb-pic {
  width: 50%;
}
.story h2 {
  font-size: 30px;
}
.first-slide img {
  width: 313px;
  margin-bottom: 20px;
  left: 37%;
  position: relative;
}
div.first-slide>.col-lg-4 {
  left: -13%;
  top: 60px;
}
.second-slide p {
  left: -146%;
  position: relative;
  top: 244px;
}
.second-slide img {
  left: 83%;
  top: -127px;
  position: relative;
  width: 313px;
}
.second-section h2 {
  width: 42%;
  left: 18%;
  position: relative;
}
.second-section img, .third-section img  {
  left: 26%;
  position: relative;
  width: 600px;
  height: 350px;
}
.third-section h2 {
  width: 50%;
  position: relative;
  left: 25%;
}
.third-section p {
  position: relative;
  text-align: center;
}
.third-custom img {
  width: 40%;
  left: 20%;
  display: inline-block;
}
.img-content {
  display: inline-block;
  width: 35%;
  margin-left: 22%;
}
.img-content div {
  margin-top: 9%;
}
.thumbnail-content h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.thumbnail-content p {
  font-size: 30px;
  font-family: Calibri, 'Droid Serif', Georgia, serif;
}
.iconDetails {
  float: left;
  height: 150px;
  width: 150px;
  margin-left: 2%;
}
.img-board {
  height: 155px;
  width: 155px;
}
.mem-brd {
  border: solid azure 1px;
  overflow: auto;
  margin: 2%;
}
.det-brd {
  margin-left: 180px;
}
.main-brd {
  float: left;
  margin: 6%;
}
.paragraph {
  font-size: 20px;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
}
.mem-details {
  margin-right: 1%;
}
.mem-content {
  margin: 4%;
}
.heading {
  margin-bottom: 4%;
}
.mission .thumbnail-section {
  margin-top: 30px;
}
.mission .thumbnail-section img {
  width: 100%;
}
.mission .mission-statement {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.mission .thumbnail-content ul li {
  font-size: 20px;
  margin-bottom: 20px;
  list-style: none;
}
.mission h1, .mission h2 {
  color: #FFFD82;
  text-decoration: none;
}
.mentoring .pic-1 {
  display: inline-block;
  width: 15%;
}
.mentoring p {
  display: inline-block;
  width: 40%;
  font-size: 20px;
  left: 10px;
  padding: 10px 10px;
}
.mentoring .pic-2 {
  display: inline-block;
  width: 44%;
}
.mentoring .pic-3 {
  display: inline-block;
  width: 46%;
}
.mentoring .pic-4 {
  display: inline-block;
}
.mentoring span {
  font-size: 30px;
}

/*CSS for footer*/

footer {
  background-color: #333;
  color: white !important;
  height: 50%;
}
footer h6 {
  font-size: 9px;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*CSS for social netoworking links*/

.fa-facebook:hover {
  background-color: #3B5998;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.faLinks li {
  display: inline;
  list-style: none;
  padding-right: 5px;
}
.faLinks li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 6px 11px;
  border-radius: 3px;
}
@media only screen and (max-width: 768px) {
  .story h1 {
    font-size: 30px;
  }
  .thumbnail-content p {
    font-size: 16px !important;
  }
  .btn-custom {
    width: 220px;
  }
  .navbar-default .navbar-brand {
    font-size: 15px;
  }
}
.team {
  background: linear-gradient(to bottom, #1e3c72, #5e87d4);
  color: white;
}
#container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/process.jpg") no-repeat;
  min-height: 850px;
  background-size: cover;
  font-size: 20px;
  color: antiquewhite;
  font-family: Calibri;
}

.footer-text{
    text-align: center;
}

.section-logo{
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 3px;
}

#container span{
    font-size: 22px;
}
